* {
  box-sizing: border-box;
}
/*
body {
  font-family: Arial, Helvetica, sans-serif; background-color:rgb(94, 63, 43);
}
This is the old background it chnages the background colour but we are using an image for the background which is in seperate pages

*/
/* Style the header */
header {
  background-color: rgb(64, 52, 38);
  padding: 10px;
  text-align: left;
  font-size: 35px;
  color: white;
}

.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two columns/boxes that floats next to each other */

nav {
  float: left;
  padding: 20px;
  width: 15%;
  height: 300px; /* changes height of box */
  background: rgb(64, 61, 59);
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/*creates a black box when hovering over navigation bar*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*makes the colour of the navigation black*/
li a:hover {
  background-color: rgb(17, 17, 17);
}

article {
  float: left;
  padding: 20px;
  width: 85%;
  height: 300px; /* changes height of box */
  background-color: rgb(94, 63, 43);
  color: white;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}


/* Style the footer */
footer {
  background-color: rgb(64, 52, 38);
  padding: 80px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other article and navigation*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* Responsive layout - makes the logo and title stack */
@media (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/* Responsive layout - makes articles stack on top of each other */
@media (max-width: 600px) {
  .article {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  footer, article {
    width: 100%;
    height: auto;
  }
}


